@import "tailwindcss";

@theme {
  --color-dbu-dark: #0f172a;
  --color-dbu-primary: #1e3a8a;
  --color-dbu-accent: #3b82f6;
  --color-dbu-light: #eff6ff;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
